body {
  font-family: 'Courier New', sans-serif;
  font-size: 14px;
  background: black;
}
.img-muscle p{
  position: absolute;
  color: #ffffff;
  font-size: 25px;
  left: 34%;
  top: 18%;
}

img{
  width: 365px;
}

.container{
  margin: 20px auto;
  width: 365px;
  background: black;
  padding: 15px;
  text-align: center;
}

#timer {
  background: #ddd;
  height: 120px;
  line-height: 120px;
  font-size: 40px;
  margin-bottom: 15px;
}

.controls > div {
  cursor: pointer;
  user-select: none;
  width: 80px;
  background: #ddd;
  line-height: 45px;
  float: left;
}

.controls {
  overflow: hidden;
}

.controls > div + div {
  margin-left: 15px;
}

.controls > div:hover {
  opacity: 0.7;
}